<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %} {% endblock %}</title>

    {% load static %}

    <link rel='stylesheet' type='text/css' href='{% static "weather/bootstrap.min.css" %}' />
</head>
<body>
    <article class="jumbotron">
        <header></header>
        <nav>{% block nav_block %} {% endblock %}</nav>
        <section>
            <!-- this is where page-specific content will go-->
            {% block content_block %} {% endblock %}
        </section>
        <footer>
            <pre>&copy;2020 read our legal notice</pre>
        </footer>

    </article>
</body>
</html>